
body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
	text-align:center;
}

.maincontent {
	margin: 2rem 12rem;
}

textarea {
	width: 100%;
	height: 100%;
	position:relative;
}

.refch-section { margin-bottom: 60px; }

.refch-button {
	background-color: #120D9A;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;	
	padding: 18px 35px;
}

.refch-button-wide { padding: 18px 40px; }

.refch-button:hover,
.refch-button:active,
.refch-button:focus {
	background-color: #605bf1;
	color: white;
}

h2 {
	color: #120D9A;
	font-size: 1.8rem;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}
h3 {
	color: #120D9A;
	font-size: 1.1rem;
	text-align: center;
	margin-top: 2rem;
}

.clear-button {
	background-color: #120D9A;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.0rem;	
	padding: 12px 32px;
}
.clear-button:hover,
.clear-button:active,
.clear-button:focus {
	background-color: #605bf1;
	color: white;
}
.refch-button:focus,
.clear-button:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #eba5a3;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #eba5a3;
}

.lang-select {
	text-align: right;
}

.heading-note {
	font-style: italic;
}

.body-text {
	margin-top: 16px;
	margin-bottom: 16px;
}
.body-text p {
	margin-top: 12px;
	margin-bottom: 12px;
}

.ref-form {
	margin-top: 40px;
	margin-bottom: 10px;
}

.input-heading {
	font-size: 1.4rem;	
	color: #120D9A; 
}

.proc-warnings {
	color: #120D9A; 
	margin-bottom: 10px;
}

.result-head-ok {
	background-color: #e8ffe8;
	font-weight: 600;
}
.result-head-nok {
	background-color: #ffe8e8;
	font-weight: 600;
}
div.result {
	display: fixed;
	min-height: 500px;
	max-height: 500px;
	text-align:left;
	overflow: auto
}

.footer {
	color: #808080;
	font-style: italic;
	font-weight: 300;
	font-size: 90%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.options {
	text-align: left;
	margin-left: 6rem;
}
.options summary {
	cursor: pointer;
	display: list-item;
	margin-left: -2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
input[type="checkbox"] { 
    margin-right: 0.5em;
}
label.check {
    display:flex;
    align-items: baseline;
}

@media screen and (max-width: 1200px) {
	.maincontent { margin: 2rem 8rem; }
	.refch-section-title { margin-top: 4rem; }
}
@media screen and (max-width: 800px) {
	.maincontent { margin: 2rem 4rem; }
	.refch-section-title { margin-top: 2rem; }
}
